.manage-user-wrapper{
    width: 100%;
    height: 100vh;
    margin: auto;
    overflow-y: hidden;
}
.manage-user-left-wrapper{
    width: 100%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 0;
    border-bottom: 1px solid #c0bdbd;
}
.manage-user-right-wrapper{
    width: 100%;
}
.form-wrapper{
    width: 95%;
    margin: auto;
}
.agentid-form-header{
    margin-bottom: 20px;
    font-family: var(--font-primary);
}
.agentid-form{
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
    margin: 0px auto;
}
.agentid-form-group{
    width: 60%;
}
.form-control{
    font-size: 18px;
    border: 1px solid #c0bdbd;
    border-top-left-radius: 50rem;
    border-bottom-left-radius: 50rem;
}
.form-control:focus{
    border: 1px solid #c0bdbd;
}
.form-control::placeholder{
    color: #646368;
}
.agentid-formfield{
    padding: 25px 48px;
}
.agentid-glyph{
    position: relative;
    left: 40px;
    top: calc(-25px/4);
    font-size: 18px;
    color: #5f6368;
}
.agentid-btn{
    font-size: 18px;
    letter-spacing: .25px;
    height: 52px;
    padding: 0px 30px;
    border-radius: 0rem 50rem 50rem 0rem;
}
.filter-wrapper{
    width: 62%;
    margin: auto;
}
.filter-header-wrapper{
    width: 96%;
    margin: auto;
    text-align: left;
}
.filter-header{
    font-size: 20px;
    margin-bottom: 12px;
}
.search-filters-form{
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.react-datepicker {
    font-size: 1.1em;
}
.react-datepicker__header {
    padding-top: 0.9em;
}
.react-datepicker__month {
    margin: 0.5em 1.1em;
}
.react-datepicker__day-name, .react-datepicker__day {
    width: 2em;
    line-height: 2em;
    margin: 0.266em;
}
.react-datepicker__current-month {
    font-size: 1.1em;
}
.react-datepicker__navigation {
    top: 1.1em;
    line-height: 1.8em;
    border: 0.55em solid transparent;
}
.react-datepicker__navigation--previous {
    border-right-color: #ccc;
    left: 1.1em;
}
.react-datepicker__navigation--next {
    border-left-color: #ccc;
    right: 1.1em;
}
#divider-text{
    margin: 0px 10px;
}
.search-filter{
    width: 110px;
    padding: 8px 10px;
    border: 1px solid #b3b3b3;
    border-radius: 50rem;
    cursor: pointer;
    caret-color: transparent
}
.search-filter:focus{
    border: 1.2px solid #4B77BC;
    background-color: #E8F1FD;
}
.search-filter:focus::-webkit-input-placeholder{
    color: #1A73E8;
}
.search-filter:focus::-moz-placeholder{
    color: #1A73E8;
}
:focus-visible{
    outline: none;
}
.search-filter::placeholder{
    text-align: center;
    color: #424242;
    font-family: var(--font-monospace);
    font-size: 14px;
    font-weight: 500;
}
.clear-btn{
    background-color: #E8F1FD;
    color: #1A73E8;
    border: 1px solid #1A73E8;
    border-radius: 50rem;
    font-size: 11px;
    font-weight: 600;
    position: relative;
    left: -22px;
}
.result-number-wrapper{
    width: 90%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.result-section-sideheader{
    border: 1px solid #c0bdbd;
    border-radius: 50rem;
    padding: 5px 10px;
    font-family: var(--font-primary);
}
.connected-account-list-wrapper{
    width: 100%;
    height: 75vh;
    padding-top: 30px;
    padding-bottom: 200px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    color: #424242;
}
.status-text{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width: 1024px){
    .agentid-form{
        width: 80%;
        margin-top: 30px;
    }
    .filter-wrapper{
        width: 75%;
    }
    .search-filter::placeholder{
        font-size: 16px;
    }
}
@media screen and (max-width: 768px){
    .agentid-form{
        width: 100%;
        margin-top: 30px;
    }
    .agentid-formfield{
        padding: 35px 0px 35px 48px;
    }
    .agentid-btn{
        height: 72px;
        padding: 0px 30px 0px 15px;
    }
    .filter-wrapper{
        width: 90%;
    }
    .filter-header-wrapper{
        width: 96%;
    }
    .filter-header{
        font-size: 25px;
    }
    .search-filters-form{
        width: 100%;
    }
    .search-filter{
        width: 120px;
    }
    .search-filter::placeholder{
        font-size: 18px;
    }
    .form-control{
        font-size: 20px;
    }
}
@media screen and (max-width: 440px){
    .agentid-form{
        display: block;
    }
    .agentid-glyph{
        left: -42%;
        top: calc(25px*1.65);
    }
    .agentid-form-group{
        width: 100%;
    }
    .agentid-formfield{
        padding: 25px 0px 25px 48px;
    }
    .agentid-formfield::placeholder{
        font-size: 18px;
    }
    .agentid-btn{
        display: none;
    }
    .form-control{
        border-radius: 50rem;
    }
}