/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');

@font-face {
    font-family: "Verdana";
    src: url("../src/static/fonts/Verdana.ttf") format("ttf"),
}
:root{
    --font-monospace: 'Ubuntu Mono', monospace;
    --font-primary: 'Verdana';
}

body{
    background-color: #fff !important;
}

*{
    font-family: var(--font-monospace);
}