/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');

@font-face {
    font-family: "Verdana";
    src: url("../src/static/fonts/Verdana.ttf") format("ttf"),
}
:root{
    --font-monospace: 'Ubuntu Mono', monospace;
    --font-primary: 'Verdana';
}

@-moz-document url-prefix() { /* Disable scrollbar Firefox */
    html{
        scrollbar-width: none;
    }
}

body{
    overflow: auto;
    background-color: #fff !important;
    -ms-overflow-style: none; 
    scrollbar-width: none; 
}
body::-webkit-scrollbar{
    display: none;
}

*{
    font-family: var(--font-monospace);
}

::-webkit-scrollbar {
    width: 12px;
}
  /* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #C1C1C1; 
    border-radius: 10px;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: #C1C1C1; 
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #C1C1C1; 
}